{% extends "../base.html" %} {% block content %}
<main class="container-sm my-5">
  <div class="row mt-3">
    <div class="col">
      <h2>Añadir nuevo servicio</h2>
      <hr>
      <form>
        <div class="form-group my-3">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" placeholder="Nombre del servicio">
        </div>
        <div class="form-group my-3">
          <label for="price">Prefijo</label>
          <input type="text" class="form-control" id="price" placeholder="Prefijo del servicio">
        </div>
        <div class="form-group my-3">
          <label for="date">URL</label>
          <input type="date" class="form-control" id="date" placeholder="URL del logo">
        </div>
        <button type="submit" class="btn btn-primary">Añadir</button>
      </form>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h2>Modificar servicio</h2>
      <hr>
      <form>
        <div class="form-group my-3">
          <label for="mod_service">Servicio</label>
          <select name="mod_service" id="mod_service">
            <option value="1">Servicio 1</option>
            <option value="2">Servicio 2</option>
            <option value="3">Servicio 3</option>
          </select>
        </div>
        <div class="form-group my-3">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" placeholder="Nombre del servicio">
        </div>
        <div class="form-group my-3">
          <label for="price">Prefijo</label>
          <input type="text" class="form-control" id="price" placeholder="Prefijo del servicio">
        </div>
        <div class="form-group my-3">
          <label for="date">URL</label>
          <input type="date" class="form-control" id="date" placeholder="URL del logo">
        </div>
        <button type="submit" class="btn btn-primary">Añadir</button>
        <button type="submit" class="btn btn-primary">Modificar</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}